body {
  --color-bg-1: rgba(0,0,0,0.05);
  --color-bg-2: rgba(0,0,0,0.07);
  --color-bg-3: rgba(0,0,0,0.09);

  --color-font: rgb(0,0,0,0.8);

  --dimension-nav-height: 5rem;
  --dimension-sidebar-width: 200px;
  --dimension-sidebar-width-closed: 50px;
}