// Top Bar
// ==============================

.top {
  grid-area: top;
  display: flex;
  align-items: center;
  justify-content: space-between;

  height: var(--top-height);

  background-color: var(--top-bg);
}

.logo {
  display: flex;
  align-items: center;
  padding: 0 var(--padding);

  img {
    width: 70px;
  }
}

.nav {
  width: 100%;
}

.right-nav {
  padding-right: var(--padding);
}

// Main Content
// ==============================

.main {
  grid-area: main;
  height: 100%;
  overflow-y: scroll;
}

// Toaster
// ==============================

.toaster {
  position: absolute;
  bottom: 0;
  right: 0;
}
