.app {
  height: 100%;
  display: grid; 
  grid-template-columns: minmax(200px, 300px) 1fr; 
  grid-template-rows: 70px 1fr; 
  gap: 0px var(--gap-1); 
  grid-template-areas: 
    "top top"
    "sidebar main";
}

.sidebar {
  grid-area: sidebar;
}

.top {
  grid-area: top;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.main {
  grid-area: main;
  height: 100%;
  overflow-y: scroll;
}