.task {
  box-sizing: border-box;
  position: relative;
  border: 1px solid white;
  width: 100%;
  cursor: grab;
  padding: 1rem;
  margin-bottom: 1rem;
  background-color: var(--color-grey-850);
  border: none;
  border-radius: 3px;
}

.task.to-do {
  background-color: var(--color-info-dark);
}

.task.in-progress {
  background-color: var(--color-primary-dark);
}

.task.completed {
  background-color: var(--color-success-dark);
}

.task.completed .title {
  text-decoration: line-through;
}

.dragging {
  background-color: var(--card-background-faded-color);
  border: 1px dashed var(--card-border-faded-color);
  user-select: none;
  position: absolute;
  z-index: 1000;
  transition: none;
  pointer-events: none;
  opacity: 0.75;
  border: 1px dashed whitesmoke;
  cursor: grabbing;
}
