.before {
  height: calc(50% + 0.625rem);
  top: -0.625rem;
}

.after {
  height: calc(50% + 0.375rem);
  top: 50%;
}

.after,
.before {
  width: calc(100% + 0.125rem);
  position: absolute;
  left: -0.125rem;
}
.after:hover,
.before:hover {
  cursor: copy;
}

.after:hover {
  border-bottom: 2px solid var(--todos-drag-separator-color);
}
.before:hover {
  border-top: 2px solid var(--todos-drag-separator-color);
}

.handle {
  opacity: 0;
  border-radius: 4px;
  width: 0.5rem;
  height: 0.5rem;
  background-color: var(--todos-drag-separator-color);
}

.handle i {
  color: white;
}

.before:hover .handle,
.after:hover .handle {
  opacity: 1;
  position: absolute;
}

.before:hover .left,
.after:hover .left {
  left: 0;
  transform: translateX(-0.4375rem);
}

.before:hover .right,
.after:hover .right {
  right: 0;
  transform: translateX(0.5rem);
}

.before:hover .handle {
  top: -0.3125rem;
}

.after:hover .handle {
  bottom: -0.3125rem;
}
