.title {
  margin-bottom: 1rem;
  display: flex;
  align-items: center;
}

.title i:not(button *) {
  margin-right: 0.5rem;
  font-size: 1.5rem;
}

.title button {
  margin-left: auto;
  background-color: transparent;
  color: var(--color-warning);
  border: none;
  border-radius: var(--border-radius);
  border: 1px solid var(--color-warning);
  aspect-ratio: 1;
  cursor: pointer;
}

.title button:hover {
  background-color: var(--color-warning);
  color: white;
}

.title.to-do i:not(button *) {
  color: var(--color-info-light);
}

.title.in-progress i {
  color: var(--color-primary-light);
}

.title.completed i {
  color: var(--color-success-light);
}
